#footer{
    padding: 0px 0px 0px 0px;
    display: inline-block;
    font-size: 120%;
    border: 2px solid black;
}
#cprt{
    padding-left: 5%;
    float: left;
    width: 40%;
    font-family: sans-serif;
    margin: 0px 0px 0px 0px;
}
#others{
    padding-right: 5%;
    text-align: right;
    float: left;
    width: 40%;
    margin: 0px 0px 0px 0px;
}