.image {
    float: left;
    text-align: center;
    width: 50%;
}
.image img {
    width: 70%;
    height: 70%;
}
.des {
    text-align: center;
    float: left;
    width: 50%;
}
.category {
    text-align: center;
    width: 50%;
    padding-bottom: 10%;
}
.logo {
    float: left;
    width: 25%;
}
.logo img{
    width: 100%;
    height: 100%;
}
.topic {
    padding-top: 6%;
    width: 25%;
    float: left;
}
.topic a {
    font-weight: 100;
    font-size: 35px;
}
.list {
    text-align: left;
    width: 100%;
}
li {
    list-style-type: square;
    color: darkslategrey;
    letter-spacing: 1px;
    margin-bottom: 4%;
    font-size: 15px;
}
.data2 .category {
    padding-left: 10%;
    margin-bottom: 5%;
}
.data2 .list {
    padding-left: 10%;
}
.pink {
    color: hotpink;
}
.yellow {
    color: goldenrod;
}
.orange {
    color: orangered;
}
.brown {
    color: saddlebrown;
}
.blue {
    color: blue;
}
.aqua {
    color: aqua;
}
.green {
    color: green;
}
.purple {
    color: purple;
}
.leaf {
    color: limegreen;
}
@media only screen and (max-width: 800px) {
    .image {
        float: none;
        text-align: center;
        width: 100%;
    }
    .des {
        text-align: center;
        float: none;
        width: 100%;
        margin: 0px 0px;
    }
    .data2 .category {
        padding-left: 0px;
        margin-bottom: 5%;
    }
    .data2 .list {
        padding-left: 0px;
    }
}