#footer{
    background-color: #1976d2;
    display: inline-block;
    width: 100%;
    position: sticky;
    left: 0;
    bottom: 0;
}
#foot1{
    float: left;
    width: 50%;
    text-align: center;
    display: inline-block;
    font-family: sans-serif;
}
#foot2{
    text-align: center;
    float: left;
    width: 50%;
}
#buy{
    margin-top: 2.5%;
    background-color: limegreen;
    color: black;
    border: 0px;
    border-radius: 2px;
    padding: 2% 1% 2% 1%;
}